body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a12172;
}

.message-container {
    text-align: center;
}

.sorry-message {
    font-size: 5em;
    color: #e3d9d9;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-halfcolor: 1px blue;
    font-size: 3rem;
    color: white; /* Text color */
    -webkit-text-stroke: 2px black; /* Stroke width and color */
    text-align: center; /* Align text to center */
    /* border-bottom: 1px solid black; */
/*     border: 1px solid #000;
    border-radius: 5px; */
    animation: moveText 5s linear infinite;
    
}
@keyframes moveText {
    0% {
        left: 0; /* Start at the left */
    }
    100% {
        left: 100%; /* Move to the right end */
    }
}
